$data-theme: (
  defalut: (
    text-color: #409eff,
    bg-color: #409eff,
  ),
  cool: (
    text-color: #f56c6c,
    bg-color: #f56c6c,
  ),
  warn: (
    text-color: #e6a23c,
    bg-color: #e6a23c,
  ),
  dark: (
    text-color: #303133,
    bg-color: #000000,
  ),
);
