[data-theme="cool"] .text {
  color: #f56c6c;
}
[data-theme="cool"] .box {
  background: #f56c6c;
}

//  针对性换肤
[data-theme="cool"] .box-item-text {
  color: #f56c6c;
}
[data-theme="cool"] .box-item-text {
  background: #f56c6c;
}
