[data-theme="dark"] .text {
  color: #303133;
}
[data-theme="dark"] .box {
  background: #000000;
}

//  针对性换肤
[data-theme="dark"] .box-item-text {
  color: #000000;
}
[data-theme="dark"] .box-item-text {
  background: #000000;
}
