[data-theme="defalut"] .text {
  color: #409eff;
}
[data-theme="defalut"] .box {
  background: #409eff;
}

//  针对性换肤
[data-theme="defalut"] .box-item-text {
  color: #409eff;
}
[data-theme="defalut"] .box-item-text {
  background: #409eff;
}
