[data-theme="cool"] .text {
  color: #e6a23c;
}
[data-theme="cool"] .box {
  background: #e6a23c;
}
//  针对性换肤
[data-theme="cool"] .box-item-text {
  color: #e6a23c;
}
[data-theme="cool"] .box-item-text {
  background: #e6a23c;
}
